<html>
    <head>

    </head>
    <body>
        <form method="post">
            Avg. Area Income  <input type="number" name="avg area income">
            <br>
            <br>
            Avg. Area House Age  <input type="number" name="avg area house age">
            <br>
            <br>
            Avg. Area Number of Rooms  <input type="number" name="avg area number of rooms">
            <br>
            <br>
            Avg. Area Number of Bedrooms  <input type="number" name="avg area number of bedrooms">
            <br>
            <br>
            Area Population  <input type="number" name="area population">
            <br>
            <br>
            <input type="submit" value="Predict House Price">
            <br>
            <br>
            House Price: {{price}}
            <br>
            <br>
            {{error}}
        </form>
    </body>
</html>